// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: rgb(0,49,60); // Thats a sample how you could change a BootStrap variable.


//BRAND COLORS
$blue: rgb(0, 175, 215);
$midnight: rgb(0,49,60); //#00313C
$gold: rgb(255, 163, 0);
$green: rgb(0, 175, 102);
$white: rgb(255, 255, 255);

$other-blue: rgb(0, 87, 118);

$dark-gray: rgb(75, 79, 84);
$med-gray: rgb(117, 120, 123);
$blue-gray: rgb(166, 187, 200); //#a6bbc8
$aqua: rgb(42, 210, 201);
$orange: rgb(255, 106, 19);
$rose: rbg(244, 54, 76);
$light-gray: #efefef;
$purple: #485CC7;//
$light-blue: #F8FAFF;